* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
section {
  padding: 15px;
  border: 10px solid greenyellow;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
  background-color: #0394d0;
}
article {
  margin: 10px;
}
h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  width: 80%;
  height: auto;
  display: block;
  opacity: 0.6;
}

img:hover {
  width: 82%;
  opacity: 1;
}
