* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
section {
  padding: 50px;
  border: 5px solid yellow;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 600px;
  background-color: #0394d0;
}
h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}
article {
  margin: 20px;
  padding: 10px;
}
h3 {
  font-size: 25px;
  color: white;
  border: 5px black solid;
  height: 35px;
  margin-bottom: 10px;
}
p {
  color: white;
}
img {
  width: 50px;
  height: auto;
}
