* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* MAIN */

section{
  margin: 15px;
  padding: 10px;
  display: flex;
  background-color: rgb(246, 248, 250);
  border: 1px solid rgb(207, 187, 187);
}

section img{
  margin: 10px;
  width: 50%;
  height: auto;
}

h3{
  margin-bottom: 5px;
  font-size: 25px;
}

p{
  margin-bottom: 3px;
  font-size: 18px;
}

/* FOOTER */

.footer {
  background-color: rgb(16, 85, 85);
  display: flex;
  padding: 15px;
  margin-top: auto;
}

.footer-column {
  width: 33%;
  padding: 0 15px;
}

.footer-column h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-column ul li {
  line-height: 1.5;
  list-style-type: none;
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
}

.footer-column ul li:hover{
  color: #ffffff;
  padding-left: 10px;
}

.footer-social-media a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255, 0.2);
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}

.footer-social-media a:hover{
    color: rgb(16, 85, 85);
    background-color: white;
}