.nav {
  background-color: rgb(230, 176, 157);
}

.nav-list {
  display: flex;
}

.nav-list li {
  padding: 10px 40px;
  list-style-type: none;
  border-right: 1px solid gray;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li:hover {
  background-color: white;
}

.nav-list li:hover a {
  color: rgb(230, 176, 157);
}