nav {
  padding: 50px;
  margin: 50px;
  border: 10px solid black;
  background-color: aquamarine;
  width: 400px;
  height: 300px;
  overflow: scroll;
  display: none;
}
a {
  margin: 150px;
  display: block;
}

header {
  margin-top: 100px;
  background-color: lightcoral;
  padding-left: 50px;
}
