* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(255, 248, 240);
  text-align: center;
}
h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  font-style: italic;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}
li {
  padding: 10px;
  margin-left: 20px;
}

button {
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 30px;
}
button:hover {
  background-color: purple;
  color: white;
  cursor: pointer;
}
